<br>
<div class="split-footer">
  <p>lyrics|  
    <a href="/about">about, </a>  
    <a href="/discography">discography, </a> 
    <a href="/library">library,</a> 
    <a href="/posts">musings</a></p>
  <br>
 <p>music| 
    <a href="https://councilsofthefuture.bandcamp.com" target = "_blank">bandcamp, </a> 
    <a href="https://soundcloud.com/councils-of-the-future" target="_blank">soundcloud</a></p>
 <br>
 <p>credits| 
    <a href="/">home, </a> 
    <a href="https://github.com/wanyakrecipes/coft-web" target="_blank">github, </a> 
    <a href="/privacy">privacy</a></p>
</div>
<br>
<div class="split-credit">
  <p> Site artwork by <a href="https://www.instagram.com/i_think_therefore_i_overthink/" target="_blank">Rand</a>.</p>
  <p>{{ .Site.Copyright | safeHTML }} - <a href="https://onepagelove.com/split" title="Split Template">Split Template</a> by <a href="https://onepagelove.com" title="One Page Love">One Page Love</a></p>

  {{ "<!--" | safeHTML }}
  {{ "To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split" | safeHTML }}
  {{ "this really helps contribute towards us developing more templates and means the world to me!" | safeHTML }}
  {{ "Cheers, Rob (@robhope)" | safeHTML }}
  {{ "-->" | safeHTML }}
</div>
